html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    text-align: center;
    }

img{
    border-radius: 8px;
    height: 25vh;
    width: 45vh;
}
    
    

.gallery-parent {
    //text-align: center;
    margin: 0 auto;
    //width: 60rem;
    height: 60rem;
    width: 40rem;
}

.gallery {
    position: relative;
 }

.pd6-photo {
    height: 30rem;
    position: absolute;
    transform: all 0.3s;
 }

 .stalin {
    top: 13rem;
    left: 0;
    
 }

 .pasta{
     top: 25rem;
     right: -20rem;
 }

 .dinner{
     top: 4rem;
     left: 65%;
 }

 .pd6-photo:hover{
     transform: scale(1.3);
     outline: 1rem solid #222;
     z-index: 2;
     transition: 2.0s;
 }
 
 .gallery:hover .pd6-photo:not(:hover){
     transform: scale(0.5);
     opacity: 0.3;
     }

.gallery-parent2{
     //text-align: center;
    margin: 0 auto;
    //width: 60rem;
    height: 60rem;
    width: 40rem;
}

.gallery2{
    position: absolute;
}

.kangeroo{

    
 }

 .kangeroo:hover{
    transform: scale(1.3);
    transition: all 1.0s;
}




